<form ng-submit="addName()">
    <h4>Name</h4>
    <input type="text" ng-model="nameField">
    <button type="submit"></button>
</form>

<form ng-submit="addBio()">
    <h4>About</h4>
    <input type="text" ng-model="aboutField">
    <button type="submit"></button>
</form>

<progress value="0" max="100" id="uploader">0%</progress>
<input type="file" value="upload" id="fileButton">


<!-- Scripts

 Index Page Content
  ––––––––––––––––––––––––––––––––––––––––––––––––––
<header class="main_nav green">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"><a href="#">German Productions</a></div>
        </div>
    </div>
</header>

     The above form looks like this
<form>
  <div class="row">
    <div class="four columns">
      <label for="exampleEmailInput">Upload images here</label>
      <input class="hidden" type="file" accept="image/*" capture="camera" id="file-upload">
    </div>
  </div>

  <input class="button-primary" type="submit" value="Upload">
</form>
    
<footer>
    <div class="container">
        <div class="row twelve columns">
        </div>
        <div class="row twelve columns">
            <p class="copyright">&copy; 2016 German Productions. All Rights Reserved</p>
        </div>
    </div>
</footer>
 End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

