<header class="main_nav green">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="logo"><a href="#">German Productions</a></div>
            </div>
        </div>
    </div>
</header>

<p>{{ myUrl }}</p>


<div class="container main">


    <div class="row" ng-repeat="(key, a) in images | limitTo: 1">
        <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="(key, a) in images">
            <div class="thumbnail hvr-wobble-horizontal">
                <a class="image-link" href="{{ a.image_url }}"><img ng-src="{{ a.image_url }}" alt="..."></a>
                <div class="caption">
                    <h4>{{ a.image_name }}</h4>
                    <p>Description: {{ a.image_info }}</p>
                    <p>Uploaded: {{ a.date | date: "MM/dd/yy '@' h:mma" }}</p>
<!--                    <a href="#" type="button" class="likeButton">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </a>-->

                    <div class="round-button pull-right">
                        <div class="round-button-circle">
                            <a href="http://example.com" class="round-button">1</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<!-- Do not use ng-repeat to retrieve data -->
<div class="row green">
    <div class="container">
        <div class="four columns" ng-repeat="(key, x) in bios">
            <img class="avatar" ng-src="{{ x.image_url }}"/>
        </div>
        <div class="eight columns">

            <div ng-repeat="(key, x) in bios">
            <h2 class="bio">{{ x.name }}</h2>
            </div>

            <div ng-repeat="(key, x) in bios">
            <p class="bio">
                {{ x.about }}
            </p>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row twelve columns">
            <ul class="social">
                <li class="facebook"><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
                <li class="flickr"><a href="#"><i class="fa fa-flickr fa-lg"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube-square fa-lg"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="row twelve columns">
            <p class="copyright">&copy; 2016 German Productions. All Rights Reserved</p>
        </div>
    </div>
</footer>


