/* Table of Contents
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
---------------------------------------------- */

/* General Content
---------------------------------------------- */
.main {
    padding-top: 3%;
}
.row {
    padding: 2% 0;
}
.green {
    background-color: black;
}
/* Typography
---------------------------------------------- */
body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: black;
}
h2 {
    font-family: 'Candal', cursive;
    font-size: 3em;
    margin: 0.67em;
}
h2.bio {
    color: cyan;
}
p.bio {
    color: white;
    
}
/* Header & Navigation
---------------------------------------------- */
header.main_nav {
    padding: 1% 0;
    display: block;
}
.logo {
    margin: 5% auto;
    text-align: center;
    text-shadow: 3px 3px 4px black;
    border: 3px solid darkslateblue;
    border-radius: 50px;
    background-color: rgba(0, 0, 200, 0.5);
    max-width: 75%;
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
    font-weight: bold;

}
.logo a {
    font-size: 3em;
    color: cyan;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 10px 0 10px;
    margin: 0;
    font-size: 1.5em;
}
.logo a:hover {
    color: white;
}
/* Images & Media
---------------------------------------------- */
img {
    max-width: 100%;
    height: 200px;
}
img.avatar {
    width: 200px;
    height: 200px;
    margin-top: 11%;
    border-radius: 50%;
    border: 5px solid white;
}
img:hover {
    opacity: 0.8;
}
/* Footer
---------------------------------------------- */
ul.social {
    display: block;
    margin: 5% 0;
    list-style-type: none;
    text-align: center;
}
ul.social li {
    font-size: 3em;
    display: inline;
    padding: 0 2%;
}
ul.social li a{
    color: grey;
}
ul.social li.facebook a:hover {color: rgb(59,89,152);}
ul.social li.twitter a:hover {color: rgb(0,172,237);}
ul.social li.instagram a:hover {color: rgb(81,127,237);}
ul.social li.youtube a:hover {color: rgb(187,0,0);}
ul.social li.flickr a:hover {color: rgb(255,0,132);}
ul.social li.linkedin a:hover {color: rgb(0,123,182);}

p.copyright {
    text-align: center;
    color: grey;
    font-size: 1em;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/* Media Queries
---------------------------------------------- */
@media (max-width: 479px) {
    .logo a {
        font-size: 2em;
    }
    .main {
        padding-top: 15%;
    }
    .portfolio img {
        margin-bottom: 10%;
        width: 100%;
    }
    img.avatar {
        margin-top: 15%;
        margin-left: 20%;
    }
    h2.bio {
        font-size: 1.8em;
        margin-left: 10%;
    }
    p.bio {
        font-size: 1.25em;
        color: white;
    }
    ul.social li a {
        font-size: .75em;
    }

}

/* ---------------------------------------------- */
@media (min-width : 1224px) {
    .logo a {
        font-size: 2em;
    }
    .main {
        /*padding-top: 5%;*/
    }
    .portfolio img {
        margin-bottom: 10%;
        margin-left: 10%;
        width: 100%;
    }
    img.avatar {
        margin-top: 15%;
        margin-left: 20%;
    }
    h2.bio {
        font-size: 1.8em;
        margin-left: 10%;
    }
    p.bio {
        font-size: 1.25em;
        color: white;
    }
    ul.social li a {
        font-size: .75em;
    }
}




.navbar .navbar-default {
    background-color: black;
}


.navbar {
    background-color: darkslateblue;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: darkslateblue;
    border-radius: 0px;
    max-height: 50px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg,
                                transparent 33%, rgba(0, 0, 0, .1) 33%,
                                rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
                                rgba(255, 255, 255, .25),
                                rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}











